@import "tailwindcss";

:root {
  --bg-misterio: #0A0E1A;
  --principal-joya: #4B0082; 
  --acento-oro: #FFD700;   
  --secundario-amatista: #9966CC; 
  --texto-claro: #E0E0E0;
}

@layer base {
  body {
    background-color: var(--bg-misterio);
    color: var(--texto-claro);
  }
}

@theme inline {
  --color-background: var(--bg-misterio);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-misterio: #0a0a0a;
  }
}

body {
  background: var(--bg-misterio);
  font-family: Arial, Helvetica, sans-serif;
}
